html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bonus-attr {
  margin-left: -20px;
  color: #30ab6d;
}